  <html lang="en">
<head>
  <TMPL_INCLUDE NAME="meta.tmpl">
  <TMPL_INCLUDE NAME="bootstrap.tmpl">
  <TMPL_INCLUDE NAME="meta.tmpl">
  <TMPL_INCLUDE NAME="page_views.tmpl">

    <title>Java Script Apps</title>
  </head>
  <body background="../img/bgimgjs.png">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Java Script Apps</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="isPrime.html">Algebra</a></li>
        <li><a href="isPrime.html">Number Theory</a></li>
        <li><a href="mode.html">Statistics</a></li>
        <li><a href="linked_list.html">Data Structures</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
  <div class="col-sm-2" >
    <ul class="nav">
      <li><a href="isPrime.html">Algebra</a></li>
      <li><a href="isPrime.html">Number Theory</a></li>
      <li><a href="mode.html">Statistics</a></li>
      <li><a href="mode.html">Data Structures</a></li>
    </ul>
  </div>
  <div class="col-sm-9" >
  <h4>What is Java Script Apps?</h4>
  <p>Java Script Apps is a website for mathematics and computer enthusiasts with information,calculators and<br>
  Visualizers covering some Algebra, Number Theory, Statistics , Data Structures and Algorithms.</p>
  Thanks for using them.
  <p>Unless otherwise noted all apps are created by JavascriptApps.in, Syam.<p>
  <p>If you have feedback please email me at javascriptapps.in@gmail.com.<p>
  <div>
  </body>
  </html>
